body{
    margin: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);
}

header{
    position: relative;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -.1rem 2rem; /*1 rem equivale a 16 px*/
}

/*Dentro del header, estilos para el h1*/
header h1{
    position: relative;
    color: white;
    font-size: .7rem;
    font-family: 'Cinzel Decorative', serif;
    left: 7rem;
}

/*Cambiamos los estilos de la lista no ordenada*/
nav ul{
    position: relative;
    list-style: none;
    display: flex;
    gap: 32px;
    margin-left: 10rem;
}

/**/
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

nav ul li a:hover{
    background-color: #555;
}

.logo{
    position: absolute;
    left: 4rem;
    height: 35px;
}

.lupa{
    position: relative;
    left: 3rem;
    height: 35px;
}

.usuario{
    position: relative;
    left: -5rem;
    height: 35px;
}

/* Contenedor de ejemplo para simular contenido largo */
.contenido {
    height: 500vh; /* 200% del alto de la pantalla para habilitar el desplazamiento */
    padding: 20px;
    z-index: 1; /* Asegura que el contenido esté por encima de la imagen */
    position: relative;
}


.img {
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%; /* Abarca el ancho total de la pantalla */
    height: 130vh; /* Abarca el alto total de la pantalla */
    background: url('img/1.jpg') no-repeat center center;
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    opacity: 0.8;
    z-index: -2; /* Coloca la imagen detrás del contenido */
}

.img1 img{
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%; /* Abarca el ancho total de la pantalla */
    height: 155vh; /* Abarca el alto total de la pantalla */
    background-size: cover;
    z-index: -0; /* Coloca la imagen detrás del contenido */
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.titulo{
    font-size: 5.6em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Cinzel Decorative', serif;
    font-weight: 300;
    text-align: center;
    margin-top: 11%;
}

.bienvenida{
    font-size: 2.5em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Cinzel Decorative', serif;
    font-weight: 300;
    text-align: center;
    margin-top: 15%;
    color: white;
}

.parrafo1{
    font-size: 1.5em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    margin-top: 25%;
    margin-left: 10%;
    width: 80%;
    height: 4%;
    background-color: rgb(192, 192, 192, .30);
    text-transform: none !important; /* Esto asegurará que el texto no se transforme a mayúsculas */
}

.img2 img{
    position: absolute;
    margin-top: 3%;
    margin-left: 52%;
    height: 19.5%;
}

.diseño{
    position: absolute;
    width: 40%;
    height: 13%;
    background-color: white;
    margin-top: 10%;
    margin-left: 18%;
    z-index: -0; /* Coloca la imagen detrás del contenido */
}

.titulodiseño{
    position: absolute;
    font-size: 2.8em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Playfair Display SC', serif;
    font-weight: 300;
    margin-top: 10%;
    margin-left: 8%;
    color: rgb(212, 175, 55);
}

.parrafo2{
    position: absolute;
    font-size: 1.6em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Cormorant Garamond', serif; /* Aplicar la fuente */
    margin-top: 35%;
    margin-left: 9%;
    width: 80%;
    height: 4%;
    z-index: -2; /* Coloca la imagen detrás del contenido */
}

#boton{
    position: absolute;
    width: 15%;
    height: 6%;
    margin-top: 65%;
    margin-left: 74%;
    background-color: rgb(212, 175, 55);
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;  /* Cambia el cursor a una mano cuando se pasa el mouse sobre el botón */
}

.titulo2{
    font-size: 3em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Cinzel Decorative', serif;
    font-weight: 300;
    text-align: center;
    margin-top: 60%;
}

.parrafo3{
    position: absolute;
    font-size: 2em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Cormorant Garamond', serif; /* Aplicar la fuente */
    text-align: center;
    margin-top: -1%;
    margin-left: 8%;
    width: 85%;
    height: 4%;
    font-style: italic;
}

.img4 img{
    position: absolute;
    margin-top: 13%;
    margin-left: 10%;
    width: 19%;
    height: 11%;
}

.img5 img{
    position: absolute;
    margin-top: 13%;
    margin-left: 40%; 
    width: 19%;
    height: 11%;
}

.img6 img{
    position: absolute;
    margin-top: 13%;
    margin-left: 70%;
    width: 19%;
    height: 11%;
}

.boton2{
    position: absolute;
    font-family: 'Cormorant Garamond', serif; /* Aplicar la fuente */
    font-style: italic;
    margin-top: 38%;
    margin-left: 15.5%;
    width: 8%;
    height: 1.3%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;  /* Cambia el cursor a una mano cuando se pasa el mouse sobre el botón */
}

.boton3{
    position: absolute;
    font-family: 'Cormorant Garamond', serif; /* Aplicar la fuente */
    font-style: italic;
    margin-top: 38%;
    margin-left: 45.5%;
    width: 8%;
    height: 1.3%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;  /* Cambia el cursor a una mano cuando se pasa el mouse sobre el botón */
}

.boton4{
    position: absolute;
    font-family: 'Cormorant Garamond', serif; /* Aplicar la fuente */
    font-style: italic;
    margin-top: 38%;
    margin-left: 75.5%;
    width: 8%;
    height: 1.3%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;  /* Cambia el cursor a una mano cuando se pasa el mouse sobre el botón */
}

.calidad{
    position: absolute;
    width: 43%;
    height: 10%;
    background-color: white;
    margin-top: 50%;
    margin-left: 53%;
    z-index: -0; /* Coloca la imagen detrás del contenido */
}

.titulo3{
    position: absolute;
    font-size: 2.8em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Playfair Display SC', serif;
    font-weight: 300;
    margin-top: 6%;
    margin-left: 8%;
    color: rgb(212, 175, 55);
}

.parrafo4{
    position: absolute;
    font-size: 1.6em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Cormorant Garamond', serif; /* Aplicar la fuente */
    margin-top: 20%;
    margin-left: 8%;
    width: 80%;
    height: 4%;
    z-index: -2; /* Coloca la imagen detrás del contenido */
}

#boton5{
    position: absolute;
    width: 15%;
    height: 6%;
    margin-top: 45%;
    margin-left: 74%;
    background-color: rgb(212, 175, 55);
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;  /* Cambia el cursor a una mano cuando se pasa el mouse sobre el botón */
}

.img8 img{
    position: absolute;
    margin-top: 50%;
    margin-left: 2%;
    width: 16%;
    height: 11%;
}

.img7 img{
    position: absolute;
    margin-top: 48%;
    margin-left: 15%; 
    width: 22%;
    height: 12.5%;
}

.img9 img{
    position: absolute;
    margin-top: 50%;
    margin-left: 31%;
    width: 19%;
    height: 11%;
}

.titulo4{
    position: absolute;
    font-size: 2.2em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-weight: 300;
    margin-top: 85%;
    margin-left: 12%;
    color: rgb(0, 0, 0);
    display: inline-block;
    transform: scaleX(1.6); /* Estira 1.5 veces más en horizontal */
}

.titulo4-1{
    position: absolute;
    font-size: 2.2em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-weight: 300;
    margin-top: 89%;
    margin-left: 32%;
    color: rgb(0, 0, 0);
    display: inline-block;
    transform: scaleX(1.6); /* Estira 1.5 veces más en horizontal */
}

.img10-1{
    position: absolute;
    margin-top: 86%;
    margin-left: 61%;
    width: 30%;
    height: 25%;
}

.img11-1{
    position: absolute;
    margin-top: 98%;
    margin-left: 18%;
    width: 25%;
    height: 12%;
}

.parrafo5{
    position: absolute;
    font-size: 1.6em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Cormorant Garamond', serif; /* Aplicar la fuente */
    font-style: italic;
    margin-top: 130%;
    margin-left: 15.2%;
    width: 80%;
    height: 4%;
    z-index: -2; /* Coloca la imagen detrás del contenido */
}

.boton6{
    position: absolute;
    width: 7%;
    height: 1%;
    margin-top: 143%;
    margin-left: 27%;
    background-color: rgb(212, 175, 55);
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;  /* Cambia el cursor a una mano cuando se pasa el mouse sobre el botón */
}

.proceso{
    position: absolute;
    width: 99.7%;
    height: 10%;
    background-color: rgb(248, 215, 218);
    margin-top: 162%;
    margin-left: -1%;
    z-index: -0; /* Coloca la imagen detrás del contenido */
}

.titulo5{
    position: absolute;
    font-size: 2.1em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    margin-top: 6.5%;
    margin-left: 36%;
    color: rgb(0, 0, 0);
}

.parrafo6{
    position: absolute;
    font-size: 1.4em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Cormorant Garamond', serif; /* Aplicar la fuente */
    font-style: italic;
    transform: scaleX(1.2); /* Estira 1.5 veces más en horizontal */
    margin-top: 10.5%;
    margin-left: 40%;
}

.img12{
    position: absolute;
    margin-top: -3%;
    margin-left: 15%;
    width: 23%;
    height: 150%;
}

.img13{
    position: absolute;
    margin-top: 10%;
    margin-left: 76%;
    width: 16%;
    height: 96%;
    z-index: -0; /* Coloca la imagen detrás del contenido */
}

.cuadro{
    position: absolute;
    width: 50%;
    height: 68%;
    background-color: rgb(248, 215, 218);
    margin-top: 3%;
    margin-left: 31%;
    z-index: -0; /* Coloca la imagen detrás del contenido */
}

.marco{
    position: absolute;
    width: 48%;
    height: 67%;
    background-color: rgba(226, 226, 226, 0);
    border: 5px solid rgba(212, 175, 55);
    margin-top: 5%;
    margin-left: 33%;
}

.boton7{
    position: absolute;
    width: 6%;
    height: 7%;
    margin-top: 28%;
    margin-left: 54%;
    background-color: rgb(212, 175, 55);
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;  /* Cambia el cursor a una mano cuando se pasa el mouse sobre el botón */
}

.contactos{
    padding: 20px;
    gap: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 210%;
    font-size: .8em; /* 1.5 veces el tamaño de la fuente del contenedor padre */
    font-family: 'Cormorant Garamond', serif; /* Aplicar la fuente */
}

