body{
    margin:0;
    padding: 0;
    background-color: rgb(236, 236, 236);
}

header{
    position: relative;
    background-color: #000000;
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -.1rem 2rem; /*1 rem equivale a 16 px*/
}

/*Dentro del header, estilos para el h1*/
header h1{
    position: relative;
    color: white;
    font-size: .7rem;
    font-family: 'Cinzel Decorative', serif;
    left: 7rem;
}

/*Cambiamos los estilos de la lista no ordenada*/
nav ul{
    position: relative;
    list-style: none;
    display: flex;
    gap: 32px;
    margin-left: 10rem;
}

/**/
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

nav ul li a:hover{
    background-color: #555;
}

.logo{
    position: absolute;
    left: 4rem;
    height: 35px;
}

.lupa{
    position: relative;
    left: 3rem;
    height: 35px;
}

.usuario{
    position: relative;
    left: -5rem;
    height: 35px;
}

.V2-img14{
    width: 41%;
    height: 690px;
}

.V2-fondo{
    background-color: rgb(245, 245, 220);
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.V2-t1{
    position: absolute;
    font-size: 3em; /* 1.5 veces el tama침o de la fuente del contenedor padre */
    font-family: 'Cinzel Decorative', serif;
    margin-top: 5%;
    margin-left: 48%;
    color: rgb(0, 0, 0);
}

.V2-p1{
    position: absolute;
    font-size: 1.6em; /* 1.5 veces el tama침o de la fuente del contenedor padre */
    font-family: 'Cormorant Garamond', serif; /* Aplicar la fuente */
    font-style: italic;
    text-align: justify;
    margin-top: 20%;
    margin-left: 48%;
}

.V2-inf{
    position: absolute;
    margin-top: 35%;
    margin-left: 40%;
}

.books1-container{
    padding: 20px;
    gap: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

/*Estilos de cada tarjeta*/
.book-card{
    background-color: rgba(192, 192, 192, 0.411);
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
    overflow: hidden; /*Evita que el contenido se desborde fuera de los limites*/
}

.book-card img{
    width: 100%;
    height: 350px;
    object-fit: cover; /*Esta propiedad controla como una imagen debe redimensionarse para ajustarse a su contenedor*/
    object-position: center; /*Determina la posicion de la imagen*/
}

.book-inf{
    padding: 15px;
    text-align: justify;
}

.book-inf h2{
    color: rgb(0, 0, 0);
    font-style: italic;
    display: flex;
    justify-content: center;
}

.book-inf p{
    color: black;
    line-height: 1.5;
    margin-top: -3%;
}

.V2-b1{
    padding: 7px 20px;
    background-color: rgb(212, 175, 55);
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;  /* Cambia el cursor a una mano cuando se pasa el mouse sobre el bot칩n */
}

.books2-container{
    padding: 20px;
    gap: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

.contactos{
    padding: 20px;
    gap: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    font-size: .8em; /* 1.5 veces el tama침o de la fuente del contenedor padre */
    font-family: 'Cormorant Garamond', serif; /* Aplicar la fuente */
}
