body{
    margin:0;
    padding: 0;
    background-color: rgb(236, 236, 236);
}

header{
    position: relative;
    background-color: #000000;
    margin-top: -1.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -.1rem 2rem; /*1 rem equivale a 16 px*/
}

/*Dentro del header, estilos para el h1*/
header h1{
    position: relative;
    color: white;
    font-size: .7rem;
    font-family: 'Cinzel Decorative', serif;
    left: 7rem;
}

/*Cambiamos los estilos de la lista no ordenada*/
nav ul{
    position: relative;
    list-style: none;
    display: flex;
    gap: 32px;
    margin-left: 10rem;
}

/**/
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

nav ul li a:hover{
    background-color: #555;
}

.logo{
    position: absolute;
    left: 4rem;
    height: 35px;
}

.lupa{
    position: relative;
    left: 3rem;
    height: 35px;
}

.usuario{
    position: relative;
    left: -5rem;
    height: 35px;
}

/* Contenedor de ejemplo para simular contenido largo */
.contenido {
    height: 500vh; /* 200% del alto de la pantalla para habilitar el desplazamiento */
    padding: 20px;
    z-index: 1; /* Asegura que el contenido esté por encima de la imagen */
    position: relative;
}